/* СЕЛЕКТОРЫ */
/*
Универсальный селектор
Применяется для всех тегов внутри body
*/
* {
  text-transform: uppercase;
}

/*
Селектор по тегу (по элементу)
Применяется только для конкретного названия тега
*/
div {
  border-radius: 16px;
}

/*
Селектор по идентификатору
Применяется для тега с заданным атрибутом id
*/
#link {
  cursor: progress;
}

/*
Селектор по классу
Применяется для всех тегов с заданным значением атрибута
class
*/
.test {
  border: 2px solid black;
}
.test2 {
  background: brown;
}

/*
Селектор по атрибуту
Применяется для всех тегов с заданным значением атрибута
=, ~=, -=, ^=, $=, |=, *=
*/
a[href="#"] {
  padding: 20px;
}

/* КОМБИНИРОВАННЫЕ СЕЛЕКТОРЫ (КОМБИНАТОРЫ) */
/* , - все совпадающие селекторы */
#link,
.test,
a[href] {
  font-size: 16px;
}

/* [пробел] */
/*
стили применятся для всех тегов p
внутри тега с id="link",
вне зависимости от уровня вложенности
*/
#link p {
  color: aqua;
}

/*
 >
*/
/*
  применяется для всех тегов p, которые являются
  непосредрественными потомками тега с id="link"
*/
#link > p {
  color: red;
}

/*
 ~
*/
/*
  применяется для всех тегов a, которые расположены
  после тега div внутри одного родителя
*/
div ~ a {
  color: green;
}

/*
+
*/
/*
 применяется для тега a, который стоит сразу после
 тега span
*/
span + a {
  color: blue;
}

/* ПСЕВДОКЛАССЫ */
p:hover {
  background: gray;
}

a:visited {
  color: red;
}
