.card-body{
    background-color: rgb(45, 45, 60);
    color: rosybrown;
    /*Специфичность 0-0-1-0*/
}

.card-body a {
    background-color: rgb(100, 100, 70);
    border-color: rgb(100, 100, 70);
    color: rosybrown;
}

.card-body a:hover{
    background-color: rgb(60, 60, 50);
    border-color: rgb(100, 100, 70);
    color: white;
}







